<div class="wrapper">
  <app-header></app-header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                  <div class="col-sm-12">
                      <h1 class="m-0 text-center fs-2">Tabel Mahasiswa</h1>
                  </div><!-- /.col -->
              </div><!-- /.row -->
          </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
              <!-- Main row -->
              <div class="row p-4">
                  <div class="card">
                      <div class="card-body">
                        <!-- <h5 class="card-title">Data Mahasiswa</h5> -->
                        <h6 class="card-text">Silahkan cek data mahasiswa di bawah ini</h6><br/>
                        <div class="table-responsive">
                          <table id="tableKu" class="table table-hover table-bordered table-striped">
                              <thead>
                                  <tr>
                                      <th>NIM</th>
                                      <th>Nama</th>
                                      <th>Jenis Kelamin</th>
                                      <th>Tempat, Tanggal Lahir</th>
                                      <th>JP</th>
                                      <th>Alamat</th>
                                      <th>Status</th>
                                      <th>Tahun Masuk</th>
                                  </tr>
                              </thead>
                          </table>
                      </div>
                      </div>
                    </div>
              </div>
              <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
